body {
  font-family: "Tahoma", sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}
button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}